[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/lShivering Weather Mixed Up.esp]
row=0
col=0

[/home/laula/Desktop/kris_surf.png~]
row=2
col=0

[/home/laula/Desktop/surf.png]
row=1
col=0

