[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/20200904_193409.jpg]
row=1
col=21

[/home/laula/Desktop/60_memtest86+]
row=2
col=21

[/home/laula/Desktop/20200904_184439.jpg]
row=3
col=21

[/home/laula]
row=0
col=21

