[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/xfce-keyboard-settings.desktop]
row=0
col=21

[/home/laula/Desktop/#BitLIke Cinematic1]
row=12
col=0

[/home/laula/Desktop/20200908_232047.jpg]
row=1
col=21

[/home/laula/Desktop/polishedcrystal-3.0.0-beta.gbc]
row=2
col=21

[/home/laula/Desktop/enbpalette.fx]
row=14
col=0

[/home/laula/Desktop/Grain.zip]
row=13
col=0

[/home/laula/Desktop/20200927_032244.jpg]
row=3
col=21

