[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/Pokemon - Red Version (USA, Europe) (SGB Enhanced).sav]
row=1
col=0

[/home/laula/Desktop/Pokemon - Red Version (USA, Europe) (SGB Enhanced).gb]
row=0
col=0

