[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/7 New Gems WIP - MUST CHANGE FILE PATHS.7z]
row=0
col=0

[/home/laula/Desktop/1618304125647.jpg]
row=2
col=0

[/home/laula/Desktop/51yC02FFZHL._SY346_.jpg]
row=5
col=0

[/home/laula/Desktop/Melody_268697716]
row=4
col=0

[/home/laula/Desktop/7 New Gems WIP - MUST CHANGE FILE PATHS]
row=1
col=0

[/home/laula/Desktop/IMG_20210413_105423.jpg]
row=3
col=0

