[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/xfce-keyboard-settings.desktop]
row=1
col=0

[/home/laula/Desktop/20200904_235639.jpg]
row=2
col=0

[/home/laula/Desktop/20200905_004436.jpg]
row=0
col=0

[/home/laula/Desktop/60_memtest86+]
row=0
col=1

[/home/laula/Desktop/20200904_184439.jpg]
row=1
col=1

