[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/xfce-keyboard-settings.desktop]
row=3
col=0

[/home/laula/Desktop/20200908_232047.jpg]
row=2
col=0

[/home/laula/Desktop/20200927_032244.jpg]
row=0
col=0

[/home/laula/Desktop/polishedcrystal-3.0.0-beta.gbc]
row=1
col=0

