[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/60_memtest86+]
row=6
col=0

[/home/laula/Desktop/xfce-keyboard-settings.desktop]
row=3
col=0

[/home/laula/Desktop/20200905_004436.jpg]
row=2
col=0

[/home/laula/Desktop/20200904_235639.jpg]
row=4
col=0

[/home/laula/Desktop/DD]
row=1
col=0

[/home/laula/Desktop/20200904_184439.jpg]
row=5
col=0

[/home/laula/Desktop/20200906_171027.jpg]
row=0
col=0

