[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/20200904_193409.jpg]
row=3
col=0

[/home/laula/Desktop/60_memtest86+]
row=4
col=0

[/home/laula/Desktop/20200904_184439.jpg]
row=5
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/laula]
row=1
col=0

