[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/xfce-keyboard-settings.desktop]
row=2
col=21

[/home/laula/Desktop/20200908_232047.jpg]
row=3
col=21

[/home/laula/Desktop/polishedcrystal-3.0.0-beta.gbc]
row=4
col=21

