[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/laula/Desktop/ace.png]
row=0
col=0

[/home/laula/Desktop/Screenshot_2021-01-18_18-53-40.png]
row=2
col=0

[/home/laula/Desktop/unknown.png]
row=4
col=0

[/home/laula/Desktop/Saves]
row=1
col=0

[/home/laula/Desktop/20210122_154211.jpg]
row=3
col=0

[/home/laula/Desktop/20210119_015434.jpg]
row=5
col=0

